// Import Bootstrap variables for use within theme
// @import "bootstrap/scss/functions.scss";
// @import "bootstrap/scss/variables.scss";
@import "./mixins.scss";

//Custom Variables
$primary:    #22252A;
$primary-90: lighten-alpha($primary, 0.9);
$primary-80: lighten-alpha($primary, 0.8);
$primary-70: lighten-alpha($primary, 0.7);
$primary-60: lighten-alpha($primary, 0.6);
$primary-50: lighten-alpha($primary, 0.5);
$primary-40: lighten-alpha($primary, 0.4);
$primary-30: lighten-alpha($primary, 0.3);
$primary-20: lighten-alpha($primary, 0.2);
$primary-10: lighten-alpha($primary, 0.1);
$primary-05: lighten-alpha($primary, 0.05);
$onPrimary:  #ffffff !default;

$brand: #85276B;
$primaryColor: #85276B;

:export {
    primary: $primaryColor;
}

// Color Variables

$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;

// Typography
$body-color: $gray-600 !default;

$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-weight-light: 300 !default;

$headings-font-weight: 400 !default;

// Shadows
$box-shadow-sm: 0 0.125rem 0.25rem 0 rgba($gray-900, .2) !default;
$box-shadow: 0 0.15rem 1.75rem 0 rgba($gray-900, .15) !default;
// $box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;


// Spacing Variables
$topbar-base-height: 72px;
$sidebar-base-width: 80px !default;
$sidebar-collapsed-width: 80px !default;


$navbar-brand-size: 40px;


//Custom state colors

$success: #2DB77B;
$portlet-bg: #212632;
$color-table-header: #425B76;
$color-table-body: #2E3F52;